/*
 * CONFIGURACIÓN DEL PIPELINE
 */

docker {
    enabled = true
    runOptions = "-u \$(id -u):\$(id -g)"
}

// Mantenimiento de espacio en disco (BORRA ARCHIVOS TEMPORALES)
cleanup = true

process {
    // Gestión de errores: si una muestra falla, que las demás sigan
    errorStrategy = 'finish'

    withLabel: 'process_low' {
        cpus = 2
        memory = '4 GB'
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }

    withLabel: 'process_medium' {
        cpus = 6
        memory = '24 GB'
    }

    withLabel: 'process_high' {
        cpus = 12
        memory = '60 GB'
    }

    // Contenedores específicos por proceso
    withName: FASTP { container = 'quay.io/biocontainers/fastp:0.23.4--hadf994f_2' }
    withName: SPADES { container = 'quay.io/biocontainers/spades:3.15.5--h95f258a_1' }
    withName: QUAST { container = 'quay.io/biocontainers/quast:5.2.0--py39pl5321h2add14b_1' }
    withName: BAKTA { container = 'quay.io/biocontainers/bakta:1.7.0--pyhdfd78af_0' }
    withName: MOB_RECON { container = 'quay.io/biocontainers/mob_suite:3.1.0--pyhdfd78af_0' }
    withName: MULTIQC { container = 'quay.io/biocontainers/multiqc:1.14--pyhdfd78af_0' }
}

params {
    // Valores por defecto (pueden sobreescribirse al lanzar)
    max_cpus = 12
    max_memory = '120 GB'
}
